
  <script src="https://code.jquery.com/jquery.min.js"></script>
  <script src="https://getbootstrap.com/docs/3.4/dist/js/bootstrap.min.js"></script>
  
</div> <!-- .container div ends-->
  </body>
</html>